<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetide.codeforge.mapper.FollowerMapper">

    <resultMap id="BaseResultMap" type="com.cetide.codeforge.model.entity.Follower">
        <id column="id" property="id" />
        <result column="follower_id" property="followerId" />
        <result column="followed_user_id" property="followedUserId" />
        <result column="created_at" property="createdAt" />
        <result column="first_followed_at" property="firstFollowedAt" />
        <result column="status" property="status" />
        <result column="verified" property="isVerified" />
        <result column="tags" property="tags" />
        <result column="follow_weight" property="followWeight" />
        <result column="unfollowed_at" property="unfollowedAt" />
    </resultMap>

    <!-- Custom SQL Queries -->
    <select id="getFollowersByUserId" resultMap="BaseResultMap">
        SELECT * FROM cetide_blog.followers
        WHERE followed_user_id = #{userId}
    </select>

    <select id="getFollowersByFollowerId" resultMap="BaseResultMap">
        SELECT * FROM cetide_blog.followers
        WHERE follower_id = #{userId}
    </select>

</mapper>
